.job_announcements {
    margin-bottom: 100px;
}

.job_announcements-blog {
    position: relative;
    width: 100%;
    background-color: var(--eServicesBg);
    padding: 16px;
    font-family: var(--fontNivea);
    border-radius: 4px;
    transition: all 0.4s ease-in-out;
    border-left: 4px solid transparent;
    margin: 12px 0;
    box-shadow: 0px 2px 5.7px -1px rgba(0, 0, 0, 0.2);

}

.job_announcements-blog:hover {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    transform: scale(1.01);
    border-left: 4px solid #306279;
    background-color: var(--eServicesBgHover);
}

.job_announcement-date {
    color: var(--announcementDate);
    text-align: right;
    margin: 8px 16px 8px 0;
    font-size: 16px;
}

.job_announcement-bg {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
}

.announcement-useful-abs {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.icon-img {
    width: 40px;
    height: 40px;
}

@media (max-width: 992px) {
    .job_announcements-blog {
        width: 100%;
        padding: 12px;
    }

    .icon-img {
        width: 32px;
        height: 32px;
    }

    .job_announcement-date {
        text-align: left;
        font-size: 14px;
        margin: 8px 0;
    }

    .job_announcement-bg {
        flex-direction: column;
        align-items: flex-start;
    }
}